<h1>Crear nuevo calendario</h1>

<%= form_with model: @calendar, url: doctors_calendars_path, local: true do |form| %>
  <div>
    <%= form.label :date, "Fecha" %>
    <%= form.date_field :date %>
  </div>

  <%= form.submit "Crear" %>
<% end %>
